body{
    background:#ffaedd
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 26x
}

em strong {
     color: #ffaedd;
}

.itens {
    font-style: italic;
}

.corpo{
    width: 950px
    margi: auto
}