body{
    background:#e799ee
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
     color: #ffaedd;
}

.itens {
    font-style: italic;
}

.corpo{
    width: 950px
    margi: auto
}